html{
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(255, 209, 135) 100%);
}

body{
    height: 100vh;
}

.menu {
    background-image: url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30px;
    filter: invert();
    width: 40px;
    height: 40px;

}

.cart-icon {
    background-image: url(https://cdn2.bigcommerce.com/n-63unu/tr4ob1q0/templates/__custom/images/cart-ico-white.png?t=100000);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30px;
    width: 40px;
    height: 40px;
}

.container {
    padding-top: 100px;
}

.product {
    width: fit-content;
}

.placeholder {
    background-color: rgb(97, 97, 97);

    display: inline-block;
    width: 166px;
    height: 250px;
}

footer{
    margin-top: auto;

}

footer ul li img {
    width: 50px;
    border-radius: 3px;
}

.copyright{
    background-color: rgb(29, 29, 29);
}